<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Топ 10 молодых повелителей</title>
</head>
<body>
<h3> Таблица топ 10 самых молодых повелителей</h3>
<table border="1">
    <tr>
        <th>ИД</th>
        <th>Имя</th>
        <th>Возраст</th>
    </tr>
    <tr th:each="lord : ${younglord}">
        <td th:text="${lord.id}"></td>
        <td th:text="${lord.name}"></td>
        <td th:text="${lord.age}"></td>
    </tr>
</table>
</body>
</html>